@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ word-wrap:break-word; word-break:break-all; padding:0; margin:0; list-style:none; outline:0; -webkit-tap-highlight-color:rgba(0,0,0,0); font:inherit; font-size:14px; vertical-align:baseline; font-family:'Microsoft YaHei',Helvetica,Arial,sans-serif; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
body{overflow-x:hidden; font-size:1em;}
button,input,option,select,textarea,em{ -webkit-appearance:none; -webkit-text-size-adjust:none; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0); border-radius:0;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none; border-radius:0;}
button,img,input,nav,textarea,video{border:0;}
/*body,td{font-size:.9em}*/
a,a:visited{text-decoration:none;-webkit-touch-callout:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,html{height:100%}
.clear{ clear:both; padding:0; margin:0; line-height:0;}
.clearfix{zoom:1;}
.clearfix:after,.clearfix:before{content:"";display:block;height:0;width:0;visibility:hidden}
.clearfix:after{clear:both;}

/* 背景颜色 */
.bgmain{ background: #F5F5F5;}

/* 总容器 */
.mianScroll{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; overflow: hidden;}

/* 定位 */
.psnF{ position: fixed;}
.psnR{ position: relative;}
.psnA{ position: absolute; display: block;}
.psnAC{ left: 0; top: 0; right: 0; bottom: 0; margin: auto;}

/*********** 顶部内容 ***********/
.topBox{ padding: 10px 10px 0; background: #FFFFFF; margin: 0 0 10px;}
.searchBox{ background: #F5F5F5}
.topNav{ display: -webkit-box; display: box;}
.topNav span{ display: block; box-flex: 1; -webkit-box-flex: 1;  text-align: center;height: 3rem; line-height: 3rem; font-size: 1.1rem;}
.topNav span.on{ color: #0096ff; border-bottom: 2px solid #0096ff; font-weight: bold;}

/* 备课列表内容 */
.lessonList{ background: #FFFFFF; position: absolute; left: 0; top: 7.4rem; right: 0; bottom: 0; margin: auto; overflow: hidden; overflow-y: auto;}
.lessonList ul li{ padding: 10px; border-bottom:1px solid #eaeaea;}
.lessonList ul li .lessonImg{ float:left; width: 8rem; height: 6rem; overflow: hidden; border-radius: 6px; margin: 0 10px 0 0;}
.lessonList ul li .lessonImg img{ width: 100%; height: 100%;}
.lessonList ul li .lessonContent{ overflow: hidden;}
.lessonList ul li .lessonContent h4{ color: #333333; font-size:1.2rem;}
.lessonList ul li .lessonContent p.synopsis{ padding:10px 0; }
.lessonList ul li .lessonContent p.synopsis span{ color: #666666; padding: 0 15px 0 0; display: inline-block; width: 33%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; box-sizing: border-box;}
.lessonList ul li .lessonContent p.synopsis em{ display: inline-block; background: #0096ff; color: #FFFFFF; border-radius: 3px; padding: 1px 5px; vertical-align: middle;}}
.lessonList ul li .lessonContent p.synopsis span i{color: #666666; font-size: 1.2rem; vertical-align: middle; margin: 0 5px 0 0;}
.lessonList ul li .lessonContent .operate a{ color: #0096ff; padding: 0 20px 0 0;} 
.lessonList ul li .lessonContent .operate a i{ color: #666666; font-size: 1.2rem; vertical-align: middle; margin: 0 5px 0 0;}


/* 用户APP */
.appCenterList{ position: absolute; left: 0; top: 0; right: 0; bottom:45px;  overflow: hidden; overflow-y: auto;}
.topAD{ width: 100%; font-size: 0;}
.topAD img{ width: 100%;}
.appCenterListN{ background: #FFFFFF; margin: 10px 0 0;}
.appCenterList h3{ height: 40px; line-height: 40px; padding: 0 10px; background: #FFFFFF;}
.appCenterList h3 span{ font-size: 17px;}
.appCenterList h3 a{ color: #007AFF; font-size: 16px; float: right;}
.appCenterList ul li{ float: left; width: 25%; text-align: center; padding: 10px 0;}
.appCenterList ul li div{ width: 50px; height: 50px; overflow: hidden; position: relative; border-radius: 50%; margin: 0 auto;}
.appCenterList ul li div img{ width: 60%; height: 60%; position: absolute; left: 0; top: 0; right: 0; bottom: 0;margin: auto;}
.appCenterList ul li p{ text-align: center; padding:5px 0 0;}

/* 弹层页面 */
.tcLayer{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; z-index: 1000; background:rgba(0,0,0,0.3);}
.tcLayerMain{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; width:80%; height: 31rem; background: #FFFFFF; border-radius: 6px;}
.tcLayerMain .LayerTop{ height:10rem; background:url(../images/start_03.png) no-repeat scroll center center #0096ff; border-radius: 6px 6px  0 0; background-size:100%;}
.tcLayerMain .LayerTop dl{ width: 7rem; padding: 8px 0 0; margin: 0 auto; text-align: center;}
.tcLayerMain .LayerTop dl dt{ width: 7rem; height: 7rem; background: #FFFFFF; border-radius: 50%; position: relative;}
.tcLayerMain .LayerTop dl dt img{ width: 100%; height: 100%;}
.tcLayerMain .LayerTop dl dd{ color: #FFFFFF; font-size: 1.2rem; padding:5px 0 0;}
.tcLayerMain .LayerBottom{ height: 4rem; line-height: 4rem; border-top: 1px solid #eaeaea; top: auto; text-align: center;}
.tcLayerMain .LayerCenter ul.selectList{ text-align: center;}
.tcLayerMain .LayerCenter ul li{padding: 20px 0 0;}
.tcLayerMain .LayerCenter ul li em i{ color:#F00; vertical-align: middle; padding: 0 5px 0 0;}
.tcLayerMain .closeBt{ position: absolute; right:-10px; top:-10px;  width: 30px; height:30px; background: #0096ff; border-radius: 50%;}
.tcLayerMain .closeBt em{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; display: block; width:26px; height:26px; background: #FFFFFF; border-radius: 50%;}
.tcLayerMain .closeBt em::before{ content:""; display: block; position: absolute; width: 2px; height: 16px; background: #0096ff;  left: 0; top: 0; right: 0; bottom: 0; margin: auto; border-radius: 50px; transform:rotate(45deg);}
.tcLayerMain .closeBt em::after{ content:""; display: block; position: absolute; width: 2px; height: 16px; background: #0096ff;  left: 0; top: 0; right: 0; bottom: 0; margin: auto; border-radius: 50px; transform:rotate(-45deg);}