<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>我的备课</title>
    <link href="../css/font/iconfont.css" rel="stylesheet" type="text/css">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="indexMain" class="mianScroll bgmain">
        
        <div class="topTool">
            <a onclick="window.history.back(-1)"><i class="el-icon-arrow-left"></i>返回</a>
            <em>备课中心</em>    
            <a @click="tcshowR =! tcshowR">筛选</a>
        </div>

        <div class="topBox">
            <div class="searchBox">
                <div class="searchBoxN"> 
                <el-input suffix-icon="el-icon-search" v-model="inputnr" placeholder="按照教案名称/作者搜素"></el-input>
                </div>
            </div>
            <div class="topNav"><span>我的备课</span><span>学校共享</span><span>区县共享</span><span>我的收藏</span></div>
        </div>

        <div class="lessonList">
            <ul>
                <li v-for="course in courseList">
                        <em v-if="course.shareState == true" class="shareState have">
                            已校共享
                        </em>
                        <div class="lessonImg"><img v-bind:src="course.imgUrl"></div>
                        <div class="lessonContent">
                            <h4>{{course.title}}</h4>
                            <p class="synopsis"><span><i class="icon bpMobile bpMobile-wode2"></i>{{course.formPeo}}</span><span><i class="icon bpMobile bpMobile-hs_h_Clock_h-naozhong"></i>{{course.time}}</span>   
                            </p>
                            <div class="operate">
                                <a v-if="course.haveReflect == false" @click="tcshow1 =! tcshow1"><i class="el-icon-edit"></i>添加反思</a>
                                <a v-else @click="tcshow2 =! tcshow2"><i class="el-icon-view"></i>查看反思</a>
                                <a @click="tcshow =! tcshow"><i class="el-icon-location-outline"></i>课程定位</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                </li>
     </ul>
        </div>

        <div class="tcLayer" v-show="tcshow">
            <div class="tcLayerMain">
                <div class="closeBt"><em class="psnA" @click="tcshow =! tcshow"></em></div>
                <div class="LayerTop">
                    <dl>
                        <dt><img src="../images/gongnengTb_03.png"></dt>
                        <dd>教学反思</dd>
                    </dl>
                </div>
                <div class="LayerCenter">
                    <ul class="selectList">
                        <li>
                            <em><i>*</i>年级</em>
                            <el-select v-model="gradeValue" placeholder="请选择" size="small">
                                <el-option v-for="item in gradeOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                        </li>
                        <li>
                            <em><i>*</i>班级</em>
                            <el-select v-model="classValue" placeholder="请选择" size="small">
                                <el-option v-for="item in classOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                        </li>
                        <li>
                            <em><i>*</i>日期</em>
                            <el-select v-model="dataValue" placeholder="请选择" size="small">
                                <el-option v-for="item in dataOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                        </li>
                        <li>
                            <em><i>*</i>节次</em>
                            <el-select v-model="jieciValue" placeholder="请选择" size="small">
                                <el-option v-for="item in jieciOptions" :key="item" :label="item" :value="item"></el-option>
                            </el-select>
                        </li>
                </ul>
                        
                </div>
                <div class="LayerBottom psnA psnAC"><el-button style="width:80%;" type="primary">提交</el-button></div>
            </div>
        </div>

        <div class="tcLayer" v-show="tcshow1">
            <div class="tcLayerMain">
                <div class="closeBt"><em class="psnA" @click="tcshow1 =! tcshow1"></em></div>
                <div class="LayerTop">
                    <dl>
                        <dt><img src="../images/gongnengTb_03.png"></dt>
                        <dd>教学反思</dd>
                    </dl>
                </div>
                <div class="LayerCenter">
                    <div class="textareaBox">
                        <textarea placeholder="请输入内容"></textarea>
                    </div>
                </div>
                <div class="LayerBottom psnA psnAC"><el-button style="width:80%;" type="primary">提交</el-button></div>
            </div>
        </div>

        <div class="tcLayer" v-show="tcshow2">
                <div class="tcLayerMain">
                    <div class="closeBt"><em class="psnA" @click="tcshow2 =! tcshow2"></em></div>
                    <div class="LayerTop">
                        <dl>
                            <dt><img src="../images/gongnengTb_03.png"></dt>
                            <dd>教学反思</dd>
                        </dl>
                    </div>
                    <div class="LayerCenter">
                        <div class="textareaBox">
                            <p>所谓教学反思，是指教师对教育教学实践的再认识、再思考，并以此来总结经验教训，进一步提高教育教学水平。教学反思一直以来是教师提高个人业务水平的一种有效手段，教育上有成就的大家一直非常重视之。现在很多教师会从自己的教育实践中来反观自己的得失，通过教育案例、教育故事、或教育心得等来提高教学反思的质量。</p>
                        </div>
                    </div>
                    <div class="LayerBottom psnA psnAC"><el-button style="width:80%;" type="primary">提交</el-button></div>
                </div>
            </div>


        <div class="tcLayerRight" v-show="tcshowR">
            <div class="tcLayerMain">
                    <ul class="selectList">
                        <li>
                            <em>学期</em>
                            <div class="overHide">
                            <el-select v-model="semesterValue" placeholder="请选择" size="small">
                                <el-option v-for="item in semesterOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                            </div>
                        </li>
                        <li>
                            <em>学科</em>
                            <div class="overHide">
                                <el-select v-model="subjectValue" placeholder="请选择" size="small">
                                    <el-option v-for="item in subjectOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                </el-select>
                            </div>
                        </li>
                        <li>
                            <em>年级</em>
                            <div class="overHide">
                            <el-select v-model="gradeValue" placeholder="请选择" size="small">
                                <el-option v-for="item in gradeOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                            </div>
                        </li>
                        <li>
                            <em>教材目录</em>
                            <div class="overHide">
                            <el-select v-model="teachingMaterialValue" placeholder="请选择" size="small">
                                <el-option v-for="item in teachingMaterialOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                            </div>
                        </li>
                        <li>
                            <em>教师</em>
                            <div class="overHide">
                            <el-select v-model="teacherValue" placeholder="请选择" size="small">
                                <el-option v-for="item in teacherOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                            </div>
                        </li>
                    </ul>

                <div class="tcLayerRightBottom psnA psnAC">
                        <el-button-group>
                        <el-button @click="submitCondition()" style=" width:120px;">取消</el-button>
                        <el-button @click="submitCondition()" style=" width:120px;" type="primary">确定</el-button>
                        </el-button-group>
                </div>
            </div>
        </div>


    </div>
    <script>
        new Vue({
            el:'#indexMain',
            data:{
                inputnr:'',
                tcshow:false,
                tcshow1:false,
                tcshow2:false,
                tcshowR:false,
                gradeOptions: [{
                        value: 'gd1',
                        label: '一年级'
                        }, {
                        value: 'gd2',
                        label: '二年级'
                        }, {
                        value: 'gd3',
                        label: '三年级'
                    }],
                    classOptions: [{
                        value: 'bj1',
                        label: '(1)班'
                        }, {
                        value: 'bj2',
                        label: '(2)班'
                        }, {
                        value: 'bj3',
                        label: '(3)班'
                    }],
                    
                    dataOptions: [],
                    semesterOptions:[{value:'xq1', label:'2017~2018第一学期'},{value:'xq2', label:'2017~2018第二学期'}],
                    subjectOptions:[{value:'xk1', label:'语文'},{value:'xk2', label:'数学'}],
                    teachingMaterialOptions:[{value:'jc1', label:'人教版'},{value:'jc2', label:'苏教版'}],
                    teacherOptions:[{value:'js1', label:'张洋 '},{value:'js2', label:'张婷'}],
                    jieciOptions: ['第一节','第二节','第三节','第四节','第五节','第六节','第七节','第八节'],
                    courseList:[
                        {
                            imgUrl:'../images/runtu.jpg',
                            title:'少年闰土——鲁迅1',
                            formPeo:'王艳丽',
                            time:'2018-10-22',
                            shareState:true,
                            haveReflect:true
                        },
                        {
                            imgUrl:'../images/runtu.jpg',
                            title:'少年闰土——鲁迅2',
                            formPeo:'张洋',
                            time:'2018-10-22',
                            shareState:false,
                            haveReflect:false
                        },
                        {
                            imgUrl:'../images/runtu.jpg',
                            title:'少年闰土——鲁迅3',
                            formPeo:'王帅',
                            time:'2018-10-22',
                            shareState:false,
                            haveReflect:true
                        },
                        {
                            imgUrl:'../images/runtu.jpg',
                            title:'少年闰土——鲁迅4',
                            formPeo:'李炜',
                            time:'2018-10-22',
                            shareState:true,
                            haveReflect:false
                        }
                    ],
                    gradeValue: '',
                    classValue: '',
                    dataValue: '',
                    jieciValue: '',
                    teacherValue:'',
                    semesterValue:'',
                    subjectValue:'',
                    teachingMaterialValue:''
            },
            mounted() {
                this.firstPage();
            },
            methods:{
                firstPage:function(){
                    $(".topNav span").eq(0).addClass("on");
                    $(".topNav span").click(function(){
                        $(this).addClass("on").siblings().removeClass("on");
                    })
                },
                submitCondition:function(){
                    this.tcshowR =! this.tcshowR
                }
            }
            
        })
    </script>
</body>
</html>